# 編譯後的二進制檔案
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go 特定的檔案和目錄
/bin/
/pkg/
/vendor/
.idea/
.vscode/
*.sum

# 本地配置檔案
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日誌檔案
*.log

# 作業系統特定檔案
.DS_Store
Thumbs.db

# Go 工作區檔案
go.work
